<div class="windowScreen">
  <div class="forgettoolbar">
     <div class="content">
         <img  class="bookimg" src="assets\img\education.svg" alt="">
         <span class="booktext">Bookstore</span>
     </div>
  </div>
  <div class="center">
     <div class="forgot">
         <span class="ftext">Forgot Your Password?</span>
     </div>
     <div class="getdetailsouter">
         <form [formGroup]="ForgotForms">
         <div class="getdetails">
             <span class="entertext">Enter the email address and we'll send you a link to reset your Password</span>
              <!-- <mat-form-field class="example-full-width">
                 <mat-label>Email id</mat-label>
                 <input matInput placeholder="" >
               </mat-form-field> -->
               <div class="eidandlabel">
               <span class="eid">Email id</span>
               <input matInput  class="inputlabel" type="email" formControlName="Email">
               <!-- <mat-error *ngIf="ForgotForms.hasError('required','Email')">
                 email is required!
               </mat-error> -->
               </div>
               <button mat-button class="resetbtn" (click)="ForgetOnSubmit()">
                 <span class="resettext">Reset Password</span></button>
         </div>
         <div class="create">
             <button mat-button>
                 <span class="cbtn">CREATE ACCOUNT</span>
             </button>
         </div>
     </form>
     </div>
  </div>

 </div>
