.windowScreen{
  width: 100vw;
  height: 100vh;
}
.forgettoolbar{
  width: 100vw;
  height: 7vh;
  background-color: #A03037;
}
.content{
  display: flex;
  width: 10vw;
 // border:solid black;
  //justify-content: space-around;
  gap: 1vw;
  margin-left:5vw;
  padding-top:2vh;
}
.booktext{
  color:white;
}
.center{
  display: flex;
  //border: solid black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}
.getdetails{
  display: flex;
  width: 21.5vw;
  height: 25vh;
 padding-left: 25px;
 padding-right: 25px;
 padding-top: 25px;
 gap: 2vh;
  //padding: 3px,3px,3px,3px;
  flex-direction: column;
  //border: solid black;
  border: 1px solid #E4E4E4;
  justify-content: flex-start;
  border-radius: 6px;
  opacity: 1;
  //justify-content: space-around;
}
.resetbtn{
  // margin-left: 50px;
  // margin-right: 50px;
  height: 40px;
 // background-color: #A03037;
  color: white;
  background: #A03037 0% 0% no-repeat padding-box;
  border-radius: 3px;
 // opacity: 1;
}
.create{
  display: flex;
  justify-content: center;
  align-items: center;
//border: solid black;
width: 25vw;
height: 9vh;
background-color: #F9F9F8;
//border: 1px #E4E4E4;
border: 1px solid #E4E4E4;
}

.ftext{
  font-family: Roboto;
  font-size: 25px;
  //font-weight: bold;
  color: #0A0102;
}
.forgot{
  padding-bottom: 20px;
}

.eid{
  font-size: 10px;
  font-family: Roboto;
  color: #0A0102;
  margin-bottom: 2px;
  // margin: 0px;
  // padding: 0px;
}
.eidandlabel{
  display: flex;
  flex-direction: column;

}

.entertext{
  color: #878787;
  font-family: Roboto;
  font-size: 15px;
  text-align: left;
  letter-spacing: 0px;

}

.resettext{
  color: white;
  font-family: Roboto;
  font-size: 15px;
}

.inputlabel{
  height: 30px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E2E2E2;
  border-radius: 2px;
}

.cbtn{
  font-family: Roboto;
  font-size: 18px;

  text-align: left;
  letter-spacing: 0px;
  color: #0A0102;
  text-transform: uppercase;
  opacity: 1;
}
