<div class="MainBody">
  <div class="PageRouting">
    <span class="HomeText">
      Home /
      <span class="MyWishListText">
        My WishList
      </span>
    </span>
  </div>
  <div class="MyWishListTemplate">
    <div class="MyWishListTextDiv">
      <span>
        My WishList
      </span>
    </div>
    <div class="BookDetails">
      <div class="BookImageDiv">
        <img src="../../../../assets/Images/BookStoreApp/Image 11.png" class="BookImage">
      </div>
      <div class="BookTextDetailsDiv">
        <div class="BookTitle">
          <span class="TitleText"> {{ BookTitle }} </span>
          <button class="DeleteButton">
            <img src="../../../../assets/Icons/WishListIcons/icons8-delete-24.png" alt="">
          </button>
        </div>
        <div class="BookAuthor">
          <span class="AuthorName"> {{ AuthorName }} </span>
        </div>
        <div class="BookPrice">
          <span> Rs.{{ Price }} </span>
          <span class="DiscountedPrice"> Rs.{{ DiscountedPrice }} </span>
        </div>
      </div>
    </div>
    <div class="BookDetails">
      <div class="BookImageDiv">
        <img src="../../../../assets/Images/BookStoreApp/Image 11.png" class="BookImage">
      </div>
      <div class="BookTextDetailsDiv">
        <div class="BookTitle">
          <span class="TitleText"> {{ BookTitle }} </span>
          <button class="DeleteButton">
            <img src="../../../../assets/Icons/WishListIcons/icons8-delete-24.png" alt="">
          </button>
        </div>
        <div class="BookAuthor">
          <span class="AuthorName"> {{ AuthorName }} </span>
        </div>
        <div class="BookPrice">
          <span> Rs.{{ Price }} </span>
          <span class="DiscountedPrice"> Rs.{{ DiscountedPrice }} </span>
        </div>
      </div>
    </div>
  </div>
</div>
