<div class="outer">
  <div class="header">
      <span>Home/</span>
      <span>Book(01)</span>
  </div>
  <div class="middle">
      <div class="left">
          <div class="img">
              <div class="imgtop">
              <img class="bookimg"src="assets\img\Books\Image 11.png" alt="">
          </div>
              <div class="imgrightbuttons">
                  <button class="addbtn">ADD TO BAG</button>
                  <button class="wishbtn">
                      <span class="material-symbols-outlined" id="staricon">
                          favorite
                          </span>
                       WISHLIST</button>
              </div>
          </div>
      </div>
      <div class="right">
          <div class="bookdata">
              <div class="booknamedetails">
                 <p class="bookname-cnt">{{book.bookName}}</p>
                 <span class="author-cnt">{{book.author}}</span>
              </div>
              <div class="ratings">
                  <div class="numberrating">
                      4.5
                  <mat-icon id="star-cnt">star</mat-icon>
                  </div>
                  <div class="numberofrating">
                      (20)
                  </div>
              </div>
              <div class="price">
                  <span class="discount-price-cnt"> Rs.{{book.discountPrice}} </span>
                  <span class="actual-price-cnt"> Rs.{{book.price}}</span>
              </div>
          </div>
          <mat-divider></mat-divider>
          <div class="bookdescription">
              <div class="bookdescriptionHeading">
                  Book Details
              </div>
              <span class="bookDescriptionDetails">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptate rem explicabo ratione obcaecati blanditiis iusto dolore, laborum aliquam inventore amet voluptatibus velit soluta exercitationem ipsum odio porro tenetur fugiat?
              </span>
          </div>
          <mat-divider></mat-divider>
          <div class="customerfeedback">
              <span class="cfcnt">Customer Feedback</span>
              <div class="inputRating">
                  <span>Overall rating</span>
                  <div class="star">
                      <span class="material-symbols-outlined">
                          grade
                      </span>
                      <span class="material-symbols-outlined">
                          grade
                      </span>
                      <span class="material-symbols-outlined">
                           grade
                      </span>
                      <span class="material-symbols-outlined">
                          grade
                      </span>
                      <span class="material-symbols-outlined">
                          grade
                      </span>
                  </div>
                  <input  class="ratinginput" type="text" placeholder="Write your review">
                  <div class="submitbtn">
                  <button class="btn">Submit</button>
                  </div>
              </div>
          </div>
          <div class="userrating">
              <div class="imgicon">
                  AC
              </div>
              <div class="userdetails">
                  <span class="user1">Aniket Chile</span>
                  <div class="firstuserrating">
                      <div class="star1">
                          <span class="material-icons" style="color: rgb(255, 210, 48);">star</span>
                          <span class="material-icons" style="color: rgb(255, 210, 48);">star</span>
                          <span class="material-icons" style="color: rgb(255, 210, 48);">star</span>
                          <span class="material-symbols-outlined">
                              grade
                          </span>
                          <span class="material-symbols-outlined">
                              grade
                          </span>
                      </div>
                  </div>
                  <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias blanditiis placeat soluta, adipisci facere itaque sint dolorem tenetur voluptas consequuntur vel tempore dolores est rerum ipsam excepturi, quidem, ullam eveniet.</span>
              </div>
          </div>
          <div class="userrating">
              <div class="imgicon">
                  SB
              </div>
              <div class="userdetails">
                  <span class="user1">Shweta Bodkar</span>
                  <div class="firstuserrating">
                      <div class="star1">
                          <span class="material-icons" style="color: rgb(255, 210, 48);">star</span>
                          <span class="material-icons" style="color: rgb(255, 210, 48);">star</span>
                          <span class="material-icons" style="color: rgb(255, 210, 48);">star</span>
                          <span class="material-icons" style="color: rgb(255, 210, 48);">star</span>
                          <span class="material-symbols-outlined">
                              grade
                          </span>
                      </div>
                  </div>
                  <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias blanditiis placeat soluta, adipisci facere itaque sint dolorem tenetur voluptas consequuntur vel tempore dolores est rerum ipsam excepturi, quidem, ullam eveniet.</span>
              </div>
          </div>
      </div>
  </div>
  </div>
